//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


//- CONTENT DATA
-
    //- Accordions
    const ldep = [
        {
            transaction: 'Transaction Hash: 0xaf1...826b5',
            wallet: 'Wallet: 0x8b9...18e36',
            amount: ' 0.14161 BNB',
            date: 'Date: 2022/03/16 - 22:02:40',
            plan: '10 days',
            link: 'https://bscscan.com/tx/0xaf1d5e050a05ff530f4063dac1fe2cf654af6d2b256e27b777fa5feb033826b5'
        },
        {
            transaction: 'Transaction Hash: 0x32d...6e8cf',
            wallet: 'Wallet: 0x781...92af6',
            amount: ' 0.10000 BNB',
            date: 'Date: 2022/03/16 - 04:52:50',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x32d0a57143627be74d87658d7c6b98c615f4b8a3f09a92ca1ec12de9ad56e8cf'
        },
        {
            transaction: 'Transaction Hash: 0x139...f029d',
            wallet: 'Wallet: 0x90e...bAEa0',
            amount: '  1.10000 BNB',
            date: 'Date: 2022/03/14 - 16:45:07',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x51f411fccda6ac78918e39fa34ebd1c207216d0c610557188447633a7d587d51'
        },
        {
            transaction: 'Transaction Hash: 0x51f...87d51',
            wallet: 'Wallet: 0x22B...69B69',
            amount: ' 0.10000 BNB',
            date: 'Date: 2022/03/14 - 16:45:07',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x51f411fccda6ac78918e39fa34ebd1c207216d0c610557188447633a7d587d51'
        },
        {
            transaction: 'Transaction Hash: 0x969...e8b82',
            wallet: 'Wallet: 0x22B...69B69',
            amount: ' 0.10000 BNB',
            date: 'Date: 2022/03/14 - 16:45:07',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x51f411fccda6ac78918e39fa34ebd1c207216d0c610557188447633a7d587d51'
        },
        {
            transaction: 'Transaction Hash: 0x053...2eb0f',
            wallet: 'Wallet: 0x1C4...66f51',
            amount: ' 0.50000 BNB',
            date: 'Date: 2022/03/13 - 11:54:22',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x05391d890b5088adb3a282abece7b701b18c9d2f0293e7549a80bc916252eb0f'
        },
        {
            transaction: 'Transaction Hash: 0xabe...80654',
            wallet: 'Wallet: 0xe4c...6C810',
            amount: ' 1.00000 BNB',
            date: 'Date: 2022/03/11 - 12:48:06',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0xabe9308ce0e8721d6dafa53ad3cc65e8e6fef15e0821b936120ba20303c80654'
        },
        {
            transaction: 'Transaction Hash: 0x0c7...68c50',
            wallet: 'Wallet: 0x380...9DDe6',
            amount: ' 0.20000 BNB',
            date: 'Date: 2022/03/11 - 02:28:36',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x472e34b50b0588c7bfc0601e4b5af5caa9b9c358e685b98cab11fccb273d9c31'
        },
        {
            transaction: 'Transaction Hash: 0x472...d9c31',
            wallet: 'Wallet: 0x380...9DDe6',
            amount: ' 0.07000 BNB',
            date: 'Date: 2022/03/11 - 02:20:48',
            plan: ' 30 days',
            link: 'https://bscscan.com/tx/0x472e34b50b0588c7bfc0601e4b5af5caa9b9c358e685b98cab11fccb273d9c31'
        },
        {
            transaction: 'Transaction Hash: 0xed3...3b1ce',
            wallet: 'Wallet: 0xF90...E9143',
            amount: ' 1.00000 BNB',
            date: 'Date: 2022/03/09 - 14:39:53',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0xed3cf1138f9933331182f89d738e21654486c6b44ff496977732b6e49513b1ce'
        },
        {
            transaction: 'Transaction Hash: 0x795...2b7ca',
            wallet: 'Wallet: 0x1C7...2bD10',
            amount: ' 0.50000 BNB',
            date: 'Date: 2022/03/08 - 14:50:14',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x795def75fd84b6d7b8146d634e0158037df57a2c136e948a01c7cc1051d2b7ca'
        },
        {
            transaction: 'Transaction Hash: 0x22f...0f0ee',
            wallet: 'Wallet: 0xcE0...d9e97',
            amount: ' 1.00000 BNB',
            date: 'Date: 2022/03/08 - 11:08:46',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x740d310a430c84b291f1a8caa50001c5297b229f23726335548ab1d5765c6045'
        },
        {
            transaction: 'Transaction Hash: 0x30e...b6c9b',
            wallet: 'Wallet: 0x7d6...5598C',
            amount: ' 0.25000 BNB',
            date: 'Date: 2022/03/07 - 22:38:26',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0x30ecc19ffd4f426482be90e9748f063817e9efeb7f5f1ce5b9e56497531b6c9b'
        },
        {
            transaction: 'Transaction Hash: 0xed1...79522',
            wallet: 'Wallet: 0xcE0...d9e97',
            amount: ' 0.50000 BNB',
            date: 'Date: 2022/03/07 - 13:42:56',
            plan: ' 10 days',
            link: 'https://bscscan.com/tx/0xed1b759427deac3aaac3210f0e8cda479d9665e3ceef8fc3545bad53e2779522'
        },
    ];

    const features = [
        {
            kv: "user-secret.svg",
            title: "Ironclad Security",
            content: "The smart contract code has been successful audited by 2 independent companies"
        },
        {
            kv: "chart-icon.svg",
            title: "High & Stable APR",
            content: "In the code sets the highest APR among all yield farms on BSC, rules of a smart contract can’t be changed, nothing can affect the amount of income."
        },
        {
            kv: "support-icon.svg",
            title: "Customer Support",
            content: "BNB Stake 24/7 provides you our knowledgable and experienced customer support team in Telegram"
        }
    ];


doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug

    body.topPage#top
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.hero#about
                //- .linkId#about
                .hero__area
                    .hero__flex
                        .hero__kv.wow.fadeInUp
                            img(src=`${relativePath}/_assets/images/binance-coin-hero.webp`, alt="binance-coin")
                        .hero__content
                            h1.hero__title.wow.fadeInUp
                                span.hero__titleText
                                    | Stable &
                                br
                                span.hero__titleText
                                    | Profitable
                                br
                                span.hero__titleExt
                                    | Yield Farming
                            p.hero__subtitle.wow.fadeInUp Get started with the easiest and most secure platform

            section.profit#invest
                //- .linkId#invest
                .inner__wrapper
                    .title.wow.fadeInUp
                        h2.title__text CALCULATE PROFIT
                    .profit__flex
                        .profit__calc.wow.fadeInUp
                            .profit__calcFlex.wow.fadeInUp
                                .profit__bnbSelect
                                    .profit__title
                                        .profit__titleText Deposit Period (days):
                                    .custom-select
                                        select.profit__bnbSelectBlock(id="selectPlan")
                                            option(value="0") 10
                                            option(value="1") 10
                                            option(value="2") 20
                                            option(value="3") 30
                                            option(value="4") 40
                                            option(value="5") 50
                                .profit__bnbDeposit
                                    .profit__title
                                        .profit__titleText Deposit Amount :
                                    .profit__bnbDepositBlock
                                        input(type="number" id="amt").profit__bnbInput
                                        span.profit__bnbSpan BNB
                            .profit__res.wow.fadeInUp
                                .profit__resFlex
                                    .profit__resItem.dailyroi
                                        p.profit__resItemText Daily ROI :
                                        .profit__resItemLabel
                                            .profit__resItemLabelInner
                                                p.profit__resItemLabelTotal 11.5
                                    .profit__resItem.profit
                                        p.profit__resItemText Total Profit :
                                        .profit__resItemLabel
                                            .profit__resItemLabelInner
                                                p.profit__resItemLabelTotal 115%
                                .profit__resItem.return
                                    p.profit__resItemText In 10 days you will earn :
                                    .profit__resItemLabel
                                        .profit__resItemLabelInner
                                            p.profit__resItemLabelTotal 1.15000 BNB
                            .investBtn.wow.fadeInUp
                                button.investBtnItem(type="button" id="investBtn") Invest
            |
            |
            section.affiliate#referrals
                //- .linkId#referrals
                .inner__wrapper
                    .title.wow.fadeInUp
                        h2.title__text AFFILIATE PROGRAM
                    .cards
                        .cards__flex.wow.fadeInUp
                            .cards__item
                                .cards__level
                                    p.cards__levelText 5%
                                    span.cards__levelSpan
                                .cards__name
                                    p.cards__nameText LEVEL 1
                            .cards__item
                                .cards__level
                                    p.cards__levelText 3%
                                    span.cards__levelSpan
                                .cards__name
                                    p.cards__nameText LEVEL 2
                            .cards__item
                                .cards__level
                                    p.cards__levelText 2%
                                    span.cards__levelSpan
                                .cards__name
                                    p.cards__nameText LEVEL 3
                            .cards__item
                                .cards__level
                                    p.cards__levelText 1%
                                    span.cards__levelSpan
                                .cards__name
                                    p.cards__nameText LEVEL 4
                            .cards__item
                                .cards__level
                                    p.cards__levelText 1%
                                    span.cards__levelSpan
                                .cards__name
                                    p.cards__nameText LEVEL 5
                    |
                    |
                    .personalLink
                        .personalLinkInner.wow.fadeInUp
                            .personalLinkLabel
                                input.personalLinkInput(type="text" placeholder="Not Activated Yet")
                                span.personalLinkSpan.copy COPY
                            .personalLinkFlex
                                .personalLinkInfo
                                    p.personalLinkInfoText Invited Users:
                                    span.personalLinkInfoNum 0
                                .personalLinkInfo
                                    p.personalLinkInfoText Total Earnings:
                                    span.personalLinkInfoNum 0 BNB
            |
            |
            section.farmInfo#dividends
                //- .linkId#dividends
                .farmInfo__flex
                    .farmInfo__left
                        .farmInfo__kv.wow.fadeInUp
                            img.farmInfo__kvHolder(src=`${relativePath}/_assets/images/bnb-min.jpg` alt="")
                        .farmInfo__card
                            .farmInfo__cardItem.wow.fadeInUp
                                .farmInfo__cardBox
                                    h3.farmInfo__cardTitle Total Value Deposited
                                    h4.farmInfo__cardTextBnb 8.36461 BNB
                                    p.farmInfo__cardTextSm $ 3,272.74
                            .farmInfo__cardItem.wow.fadeInUp
                                .farmInfo__cardBox
                                    h3.farmInfo__cardTitle Total Referral Earnings
                                    h4.farmInfo__cardTextBnb 1.00375 BNB
                                    p.farmInfo__cardTextSm $ 392.73
                        .farmInfo__btn
                            .farmInfo__btnInner
                                a.farmInfo__btnItem.wow.fadeInUp(href="#affiliate") Affiliate Program
                                a.farmInfo__btnItem.wow.fadeInUp(href="https://bscscan.com/address/0x00BBD71BC73E5E49Dd5D1cc852a325bE9d712443#code" target="_blank") Verified Contract
                                a.farmInfo__btnItem.wow.fadeInUp(href="https://t.me/bnbstake" target="_blank") Telegram
                    .farmInfo__right.wow.fadeInUp
                        .farmInfo__yFarm
                            h3.farmInfo__yFarmTitle Your Farm
                            .farmInfo__yFarmInner
                                .farmInfo__yFarmFlex
                                    .farmInfo__content
                                        p.farmInfo__contentText BNB to Harvest :
                                        p.farmInfo__contentTotal 0.00000 BNB
                                        p.farmInfo__contentNumber $ 0.00
                                    .farmInfo__btn
                                        .farmInfo__btnItem Withdraw
                                .farmInfo__yFarmFlex
                                    .farmInfo__content
                                        p.farmInfo__contentText BNB in Wallet:
                                        p.farmInfo__contentTotal 0.00000 BNB
                                        p.farmInfo__contentNumber $ 0.00
                                    .farmInfo__btn
                                        .farmInfo__btnItem History
                        |
                        |
                        .farmInfo__lastDep.wow.fadeInUp
                            .farmInfo__lastDepTitle Last Deposits
                            .farmInfo__depList
                                each item in ldep
                                    .farmInfo__depListItem
                                        .farmInfo__depListItemBox.box01
                                            .farmInfo__depListItemGroup1
                                                a.farmInfo__depListItemGroup1Transaction(href=`${item.link}` target="_blank")=item.transaction
                                                p.farmInfo__depListItemGroup1Wallet=item.wallet
                                        .farmInfo__depListItemBox.box02
                                            p.farmInfo__depListItemBoxAmount Amount :
                                                span.farmInfo__depListItemBoxTotal=item.amount
                                        .farmInfo__depListItemBox.box03
                                            .farmInfo__depListItemBoxDate=item.date
                                            p.farmInfo__depListItemBoxPlan Plan:
                                                span.farmInfo__depListItemBoxPlanSpan=item.plan
                |
                |
                .formInfo__read.wow.fadeInUp
                    h3.formInfo__readTitle Read before use
                    .formInfo__readContent
                        p.formInfo__readContentText
                            | The principal deposit cannot be withdrawn, the only return users can get are daily dividends and referral rewards. Payments is possible only if contract balance have enough BNB. Please analyze the transaction history and balance of the smart contract before investing. High risk - high profit, DYOR
            |
            |
            section.faq#faq
                .linkId#faq
                .inner__wrapper
                    .title.wow.fadeInUp
                        h2.title__text Frequently Asked Questions
                    .faq__list.wow.fadeInUp
                        .faq__listItem
                            .faq__listItemQuestion
                                p.faq__listItemQuestionText What is BNBPANEL?
                                span.faq__listItemQuestionPlus
                            .faq__listItemContent
                                p.faq__listItemContentText
                                    | BNBPANEL, earn up to 405% ROI in 30 days or even more, with five levels of referral rewards given outright, safety features, adjustable settings and transferrable dividends.
                        .faq__listItem
                            .faq__listItemQuestion
                                p.faq__listItemQuestionText What is BNBPANEL?
                                span.faq__listItemQuestionPlus
                            .faq__listItemContent
                                p.faq__listItemContentText
                                    | BNBPANEL, earn up to 405% ROI in 30 days or even more, with five levels of referral rewards given outright, safety features, adjustable settings and transferrable dividends.
                        .faq__listItem
                            .faq__listItemQuestion
                                p.faq__listItemQuestionText What is BNBPANEL?
                                span.faq__listItemQuestionPlus
                            .faq__listItemContent
                                p.faq__listItemContentText
                                    | BNBPANEL, earn up to 405% ROI in 30 days or even more, with five levels of referral rewards given outright, safety features, adjustable settings and transferrable dividends.
            |
            |
            section.journey
                .inner__wrapper
                    .title.wow.fadeInUp
                        h2.title__text
                            | Start your yield farm journey
                            br
                            span.subtitle__text with BNB Stake Community
                    .fetures
                        .fetures__cards.wow.fadeInUp
                            each item in features
                                .fetures__cardsItem
                                    .fetures__cardsItemKv
                                        .fetures__cardsItemImg
                                            img(src=`${relativePath}/_assets/images/${item.kv}`, alt="")
                                    .fetures__cardsItemTitle
                                        h3.fetures__cardsItemTitleText=item.title
                                    .fetures__cardsItemContent
                                        p.fetures__cardsItemContentText=item.content

        //- FOOTER
        include ./_inc/_siteFooter.pug
